@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
,
*::before,
*::after {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.bx-fade-right {
    animation: mover 1s infinite alternate;
    width: 50px; /* Asegúrate de que la imagen tenga un tamaño adecuado */
    height: 50px; /* Asegúrate de que la imagen tenga un tamaño adecuado */
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    padding: 10px 14px;
    background: var(--sidebar-color);
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}
.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}
.sidebar li{
    height: 50px;
    margin-top: 10px;   
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
.sidebar li.icon,
.sidebar li.text{
    color: var(--text-color);
    transition: var(--tran-02);
    
}

.sidebar header{
    position: relative;
}
.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.header-text .profession{
    margin-top: -2px;
}

.sidebar header .toogle{
    position: absolute;
    top: 50%;
    right:  -40px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    place-content: center;
    min-height: 100vh;
    overflow: hidden;
    user-select: none;
    background: url('img.jpg') no-repeat;
}
.white-bkg {
    position: absolute;
    background: #f6f6f6;
    inset: 0;
    z-index: -10;
}
.shadow{
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
}
main {
    background: url('assets/styles/iphone.jpg') no-repeat;
    background-size: contain;
    width: 320px;
    height: 640px;
    display: flex;
    position: relative;
    left: 150px;
}

section {
    width: 150%;
    border-radius: 32px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding: 16px 6px;
    margin: -100px;
}

header {
    display: flex;
    justify-content: start;
    padding-left: 1rem;

    & img {
        width: 24px;
        height: 24px;
    }
}

footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    padding: 0 24px;
    justify-content: center;
    align-items: center;

    & button {
        background: url('../styles/tinder-icons.jpg') no-repeat;
        background-position: 0px 0px;
        background-size: 175px;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        border: 0;
        cursor: pointer;
        transition: scale .3s ease;

        &:hover {
            transform: scale(1.4);
        }

        &.is-big {
            background-size: 250px;
            width: 48px;
            height: 48px;
        }

        &.is-undo {
            background-position: -140px 0;
        }

        &.is-remove {
            background-position: -150px 0;
        }

        &.is-fav {
            background-position: -50px 0;
        }

        &.is-star {
            background-position: -70px 0px;
        }
    }
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    &>span {
        display: grid;
        place-content: center;
        color: #777;
        font-size: 14px;
        text-align: center;
        height: 100%;
        z-index: -1;
    }

    & article {
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        cursor: grab;
        overflow: hidden;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        &.go-left {
            transform: translateX(-150%) rotate(-30deg) !important;
        }

        &.go-right {
            transform: translateX(150%) rotate(30deg) !important;
        }

        &.go-left,
        &.go-right {
            transition: transform .3s ease, rotate .3s ease;
        }

        &.reset {
            transition: transform .3s ease;
            transform: translateX(0) !important;
        }

        & .choice {
            border-radius: 8px;
            color: black;
            border: 4px solid;
            z-index: 9999;
            position: absolute;
            top: 32px;
            right: 16px;
            opacity: 0;
            padding: 4px 8px;
            font-size: 24px;
            font-weight: bold;
            text-shadow: 0 0 10px rgba(0, 0, 0, .3);
            width: fit-content;

            &.nope {
                border-color: #ff6e63;
                color: #ff6e63;
                transform: rotate(30deg);
            }

            &.like {
                border-color: #63ff68;
                color: #63ff68;
                left: 16px;
                transform: rotate(-30deg);
            }
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & h2 {
            color: white;
            position: absolute;
            inset: 0;
            display: flex;
            align-items: flex-end;
            height: 100%;
            width: 100%;
            padding: 16px;
            z-index: 3;
            background: linear-gradient(to top,
                #00000088 20%,
                transparent 40%);
        }

        & span {
            margin-left: 6px;
            font-size: 18px;
            line-height: 1.4;
            font-weight: 400;
        }
    }
}



