* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.error-message {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
}
.wrapper {
    display: flex;
    flex-direction: column;  /* Organiza los elementos en una columna */
    justify-content: center;
    align-items: center;
    width: 100%;             /* Ancho completo */
    max-width: 420px;       /* Ancho máximo para pantallas grandes */
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 20px;     /* Espaciado interno */
    overflow: hidden;        /* Evita el desbordamiento */
    transition: all 0.3s ease-in-out; /* Transición suave */
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    width: 100%;             /* Asegura que ocupe el ancho completo */
    margin: 10px 0;         /* Espacio entre los elementos */
}

.input-box input, .input-box .input {
    width: 100%;             /* Ancho completo para los campos de entrada */
    height: 50px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 15px 20px;
}

.input-box input::placeholder, .input-box .input::placeholder {
    color: #fff;
}

.wrapper .btn {
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 20px;       /* Margen superior */
}

.wrapper .btn:hover {
    background-color: #ffc107;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.wrapper .label {
    margin-bottom: 5px;      /* Espacio entre la etiqueta y el campo de entrada */
    font-size: 14px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 10px 0;         /* Ajusta el margen */
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

