/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 ago. 2024, 3:15:01 p. m.
    Author     : GRABIEL
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Carrusel */
.carousel {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Diapositiva individual */
.slide {
    text-align: center;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background-color: #4CAF50; /* Color de fondo por defecto */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

.button:active {
    background-color: #FF5733; /* Color de fondo cuando se presiona */
}

button:hover {
    background-color: #0056b3;
}

/* Enlaces de alternancia (registro/inicio de sesión) */
.toggle {
    margin-top: 15px;
}

.toggle a {
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
}

.toggle a:hover {
    text-decoration: underline;
}
