@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

ul{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}

ul li{
    list-style: none;
    font-weight: 500;
    font-size: 12vw;
    letter-spacing: 2.5vw;
    color: #555;
    text-shadow: none;
    animation: anim 1s infinite linear; 
}

@keyframes anim{
    0%{
        color: #555;
        text-shadow: none;
    }
    18%{
        color: #555;
        text-shadow: none;
    }
    
    20%{
        color: #ffea00;
        text-shadow: 0 0 1vw #ffc400;
        0 0 3vw #f44336;
    }
    30%{
        color: #555;
        text-shadow: none;
    }
    35%{
        color: #ffea00;
        text-shadow: 0 0 1vw #ffc400;
        0 0 3vw #f44336;
    }
    70%{
        color: #555;
        text-shadow: none;
    }
    85%{
        color: #ffea00;
        text-shadow: 0 0 1vw #ffc400;
        0 0 3vw #f44336;
    }
    90%{
        color: #555;
        text-shadow: none;
    }
    100%{
       color: #555;
        text-shadow: none;
    }
}

ul li:nth-child(1){
    animation-delay: .2s;   
}
ul li:nth-child(2){
    animation-delay: .4s;   
}
ul li:nth-child(3){
    animation-delay: .6s;   
}
ul li:nth-child(4){
    animation-delay: .8s;   
}
ul li:nth-child(5){
    animation-delay: 1s;   
}
ul li:nth-child(6){
    animation-delay: 1.2s;   
}
ul li:nth-child(7){
    animation-delay: 1.4s;   
}
ul li:nth-child(8){
    animation-delay: 1.6s;   
}


.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.wrapper .btn {
    width: 100%;
    height: 60px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .btn:hover {
    background-color: #ffc107;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}


.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
